<!DOCTYPE html>
<html lang="en">

<head>
  <title>Goal setting</title>

  <meta charset="UTF-8">

  <!-- Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

    <!-- Goal setting -->
  <div id="header" style="background-color: rgb(57, 68, 219);">
    <div id="headerArea" class="navbar align-items-end pt-4" style="background-color:green;">
      <div id="goal-div">
        <h1 id="goals" class="pt-4 mb-0 pl-5 ml-5">Set your goals</h1>
      </div>

      <div id="allTheInputs" class="float-right pb-2 pr-5 mr-5">
        <h4 id="sounds-good" class="d-inline">What are your goals?</h4>
        <input id="Activity" class="mr-3" type="text" placeholder="Activity" />
        <input id="Times" class="mr-3" type="text" placeholder="Times per week" />
        <button style="background-color: rgb(57, 68, 219); border-color: black; color: white" id="add" class="btn btn-info">Submit</button>
      </div>
    </div>

<div style="margin-top:100px; margin-bottom:100px; background-color: rgb(57, 68, 219);" class="container">
  <h2>My Goals</h2>         
  <table class="table">
    <thead>
      <tr>
        <th>Activity</th>
    </thead>
    <tbody id="habits">
    </tbody>
  </table>
</div>
    <!-- ****************** nat added div for API******************************** -->

    <div id="GIFArea"></div>
    <script type="text/javascript">

        $('button').on("click", function () {
            var x = $(this).data("search")

            var queryURL = "https://api.giphy.com/v1/gifs/search?q=" + x + "&api_key=jk92ejWlxe2OrTcIMoR8D5thfcuJyakh&limit=1";
            $.ajax({ url: queryURL, method: 'GET' })
                .done(function (response) {
                    console.log(response);
                    for (   var i = 0; i < response.data.length; i++) {
                        var newdiv = $("<div style='display:inline-block; margin-right: 10px; '>");
                        $(newdiv).prepend("<img src='" + response.data[i].images.fixed_height.url + "'>");
                        $("#entertainer-view").prepend(newdiv);
                    }
                })
        })
    </script>

    </div>
<footer id="sticky-footer" class="py-4 bg-white text-black-50">
    <div class="container text-center">
      <small>Copyright © 2019 They Might be Giants</small>
    </div>

</footer>

</body>

</html>
