<div class="text-white" class="img-fluid" alt="Responsive image">
    <div id="goalInputs" class="container px-0">
        <div id="goal-div">
            <h1 id="goals" class="text-center pt-4 mb-0" style="font-weight: bolder !important;">SET YOUR GOALS</h1>
        </div>

        <div id="allTheInputs" class="pt-3 text-center">
            <input id="Activity" class="mr-3 rounded" type="text" placeholder="Add a new daily habit here."
                style="width: 60%; float:left" />
            <button style="background-color: #FFDD99; float: left; width: 13%; border-color: white; color: white" id="add"
                class="btn btn-info">Add</button>
                <br>
                
        </div>
    </div>

    <div style="background-color:  #83c5e6; width: 55%; margin-left: 200px; border-color: white !important;"
        class="border container rounded py-2 my-4 text-center">
        <h2>My Goals</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left">Activity</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>

            <tbody id="habits">
                {{#each habits}}
                <tr data-id="{{id}}">
                    <td class="text-left">{{habitName}}</td>
                    <td><button class="deleteHabit">X</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <button class="habitsEntered text-center rounded text-white py-1 px-2"
            style="background: #FFDD99; border-color: white;">Done
        </button>
    </div>

    <style>
        body {
            background-image: url("/images/mountain-top.jpg");
            background-size: cover;
        }
    </style>
</div>
