<!-- Goal setting -->

<!--
    Original colors:
    BLUE: rgb(57, 68, 219);
    GREEN: green;
-->

<div id="header" class="text-white" style="background-color: #265077;">
    <div id="goalInputs" class="container px-0">
        <div id="goal-div">
            <h1 id="goals" class="text-center pt-4 mb-0" style="font-weight: bolder !important;">SET YOUR GOALS</h1>
        </div>

        <div id="allTheInputs" class="pt-3 text-center">
            <input id="Activity" class="mr-3 rounded" type="text" placeholder="Add a new daily habit here."
                style="width: 85%;" />
            <button style="background-color: #2D5F5D; width: 10%; border-color: black; color: white" id="add"
                class="btn btn-info">Add</button>
        </div>
    </div>

    <div style="background-color: #2D5F5D; border-color: black !important;"
        class="border container rounded py-2 my-4 text-center">
        <h2>My Goals</h2>
        <table class="table">
            <thead>
                <tr>
                    <th class="text-left">Activity</th>
                    <th class="text-center">Delete</th>
                </tr>
            </thead>

            <tbody id="habits">
                {{#each habits}}
                <tr data-id="{{id}}">
                    <td class="text-left">{{habitName}}</td>
                    <td><button class="deleteHabit">X</button></td>
                </tr>
                {{/each}}
            </tbody>
        </table>

        <button class="habitsEntered text-center rounded text-white py-1 px-2"
            style="background: #494B68; border-color: black;">Done</button>
    </div>