{{#if userContext}}
  
  <div class="backgroundContainer px-0 mx-0">
    <img src="images/mountain-top.jpg" alt="Snow" style="max-width:100%;">
    <div class="centered">
    <h2 class="text-center">Welcome {{userContext.userinfo.given_name}}!</h2>
    <h2>What would you like to do?</h2>
    <br>
      <button class="create-button">Create a goal</button>
      <br>
      <br>
      <button class="review-button">Review my goals</button>
    </div>
  </div>
{{else}}
  <div class="backgroundContainer px-0 mx-0">
  <img src="images/mountain-top.jpg" alt="Snow" style="width:100%;">
  <div class="centered">
  	<h1>It's Time to Live Big!</h1>
    <h3>Please sign in!</h3>
   </div>
</div>
{{/if}}