<div class="container mb-auto">
    <div class="row my-4">
        <div class="col-md-4 habitReviewTable ">
            <table class="table" style="background-color: #83c5e6;">

                <thead>
                    <tr>
                        <th class="text-left">Incomplete</th>
                        <th class="text-center">Complete It!</th>
                    </tr>
                </thead>

                <tbody id="habits">
                    {{#each habits}}
                    {{#unless completed}}
                    <tr data-id="{{id}}">
                        <td>{{habitName}}</td>
                        <td class="text-center"><button class="completeHabit">&#10004;</button></td>
                    </tr>
                    {{/unless}}
                    {{/each}}

                </tbody>
            </table>
        </div>

        

        <div class="col-md-4 habitReviewTable" style="background-color: #83c5e6;">
            <table class="table">

                <thead>
                    <tr>
                        <th class="text-center">Complete</th>
                    </tr>
                </thead>

                <tbody id="habits">
                    {{#each habits}}
                    {{#if completed}}
                    <tr data-id="{{id}}">
                        <td class="text-center">{{habitName}}</td>
                    </tr>
                    {{/if}}
                    {{/each}}

                </tbody>
            </table>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>


<style>
    body {
        background-image: url("/images/mountain-top.jpg");
        background-size: cover;
    }
</style>