.list-group-item {
  line-height: 2.5;
}

html,
body {
  height: 100% !important;
  margin: 0;
  background-image: url("images/mountain-top-1");
}

.notFooter {
  min-height: 100% !important;
  margin-bottom: -80px;
}

.push {
  height: 80px;
}

#sticky-footer {
  height: 80px;
  background: #363636;
}

.goalHeading {
  font-weight: bolder !important;
}

.habitReviewTable {
  background: rgb(53, 53, 53, 0.5) !important;
}

/* CSS for log-in screen */

.backgroundContainer {
  position: relative;
  text-align: center;
  width: 100%;
  /* color: white; */
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.create-button {
  background-color: #e7e7e7; /* Gray */
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.review-button {
  background-color: #e7e7e7; /* Gray */
  color: black;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.container {
  background-image: url("public/images/mountain-top-1.jpg");
}
